= render "layouts/main_header"

.wrapper
  = render "layouts/side_bar"
  .main_field
    .main_space
      .form
        .form__item
          修理ID
        = @task.id
        
      .form
        .form__item
          受取日
        = @task.date_of_receipt
      
      .form
        .form__item
          提出者
        = @task.submitter
      
      .form
        .form__item
          受取者
        = @task.user.name

      .form
        .form__item
          機器ID
        = @task.device.id

      .form
        .form__item
          機器名
        = @task.device.name

      .form
        .form__item
          部署
        = @task.department.name
      
      .form
        .form__item
          トラブル内容
        = @task.trouble_content

      .form
        .form__item
          対応
        = @task.correspondence

      .form
        .form__item
          処理
        = @task.status ? '済': '未'
        - if user_signed_in? && current_user.id == @task.user_id
          .done_botton
            = button_to '変更', done_path(@task), method: :post, data:{confirm: '本当によろしいですか?'}
  
      .comments
        %h2 ＜対応一覧＞
        - if @comments
          - @comments.each do |comment|
            .comment
              .comment__upper
                .comment__upper--left
                  %strong
                    = comment.user.name
                    ：
                .comment__upper--right
                  = comment.created_at.strftime("%Y年%m月%d日")
                  - if user_signed_in? && current_user.id == comment.user_id
                    = link_to "削除", task_comment_path(comment.task.id, comment.id), method: :delete, data:{confirm: '本当によろしいですか?'}
              .comment__under
                .comment__under--text
                  = comment.text
  
    .fotter
      .container
        - if current_user
          = form_with(model: [@task, @comment], local: true) do |form|
            = form.text_area :text, placeholder: "コメントする", rows: "2"
            = form.submit "送信"
        - else
          %strong
            %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
        
   

