= render "layouts/main_header"

.wrapper
  = render "layouts/side_bar"
  .main_space
    .information
      %table
        %tr
          %th ID
          %th 機器名
          %th 型番
          %th シリアルNo
          %th 購入日
        - @devices.each do |device|
          %tr
            %td= link_to device.id, device
            %td= device.name
            %td= device.model_number
            %td= device.serial_number
            %td= device.purchase_date