= render "layouts/main_header"

.wrapper
  = render "layouts/side_bar"
  .main_space
    .information
      %table
        %tr
          %th ID
          %th 貸出日
          %th 返却日
          %th 機器ID
          %th 機器名
          %th 貸出部署
          %th 貸出者
          %th 返却部署
          %th 返却者
          %th 日数
          
        - @histories.each do |history|
          %tr
            %td= history.id
            %td= history.loan_datetime.strftime("%Y-%m-%d")
            %td= history.return_datetime.strftime("%Y-%m-%d")
            %td= history.device_id
            %td= history.device.name
            %td= history.rental_department
            %td= history.rental_staff
            %td= history.return_department
            %td= history.return_staff
            %td= history.day
