.side_bar
  .side_bar__in
    .user
      .label
        ・ユーザー
      .new_registration
        = link_to "新規登録","#", class:"btn-flat-border-blue"
      .log_in
        = link_to "ログイン","#", class:"btn-flat-border-blue"

    .devise
      .label
        ・機器管理
      .new_registration
        = link_to "新規登録", new_device_path, class:"btn-flat-border-green"
      .devise_list
        = link_to "機器一覧","#", class:"btn-flat-border-green"
      .repair_support
        = link_to "修理対応","#", class:"btn-flat-border-green"
      