.side_bar
  .side_bar__in
    .user
      .label
        ・ユーザー
        
      - if user_signed_in?
        .user_name
          ようこそ、
          = current_user.name
          さん
        .new_registration
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn-flat-border-blue"
       
      - else
        .new_registration
          = link_to "新規登録",new_user_registration_path, class:"btn-flat-border-blue"
        .log_in
          = link_to "ログイン",new_user_session_path, class:"btn-flat-border-blue"

    .devise
      .label
        ・機器管理
      - if user_signed_in?
        .new_registration
          = link_to "新規登録", new_device_path, class:"btn-flat-border-green"
      .devise_list
        = link_to "機器一覧",list_devices_path, class:"btn-flat-border-green"


    .task
      .label
        ・修理対応
      - if user_signed_in?
        .new_registration
          = link_to "新規登録", new_task_path, class:"btn-flat-border-green"
      .task_list
        = link_to "修理機器一覧",tasks_path, class:"btn-flat-border-green"