.side_bar
  .side_bar__in
    .user
      .label
        ・ユーザー
        
      - if user_signed_in?
        .user_name
          ようこそ、
          = current_user.name
          さん
        .new_registration
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn-flat-border-blue"
       
      - else
        .new_registration
          = link_to "新規登録",new_user_registration_path, class:"btn-flat-border-blue"
        .log_in
          = link_to "ログイン",new_user_session_path, class:"btn-flat-border-blue"

    .devise
      .label
        ・機器管理
      - if user_signed_in?
        .new_registration
          = link_to "新規登録", new_device_path, class:"btn-flat-border-green"
      .devise_list
        = link_to "機器一覧",list_devices_path, class:"btn-flat-border-green"


    .task
      .label
        ・修理対応
      - if user_signed_in?
        .new_registration
          = link_to "新規登録", new_task_path, class:"btn-flat-border-green"
      .incomplete
        = link_to "完了未リスト", incomplete_tasks_path, class:"btn-flat-border-green"
      .complete
        = link_to "完了済リスト", complete_tasks_path, class:"btn-flat-border-green"
    
    .devices_rental
      .label
        ・機器レンタル  
      .rental
        = link_to "貸出", new_rental_path, class:"btn-flat-border-green"
      .return
        = link_to "返却", new_return_path, class:"btn-flat-border-green"
      .histry
        = link_to "貸出履歴", history_rentals_path, class:"btn-flat-border-green"